.friendList {
    display: flex;
    flex-direction: row;
    gap: 50px;

    list-style-type: none;
}


.friendListItem {

    border: 2px, solid, black;
    border-radius: 8px;
    padding: 10px;
}

.status {
    margin-top: 0;
    margin-bottom: 0;    
}

.online {
    color: green;
}

.offline {
    color: red;
}

.friendName {
    font-size: 25px;
    font-weight: 500;
    margin: 5px 0px;
}